trigger:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

stages:
  - stage: Test
    jobs:
      - job: SeleniumTests
        displayName: 'Selenium End-to-End Tests'
        steps:
          - task: Cache@2
            inputs:
              key: 'maven | "$(Agent.OS)" | **/pom.xml'
              restoreKeys: |
                maven | "$(Agent.OS)"
                maven
              path: $(MAVEN_CACHE_FOLDER)
            displayName: 'Cache Maven packages'

          - task: Maven@3
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'clean compile'
              options: '-DskipTests'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '17'
              mavenVersionOption: 'Default'
            displayName: 'Maven Compile'

          - script: |
              sudo apt-get update
              sudo apt-get install -y wget unzip
              wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
              sudo apt-get install -y ./google-chrome-stable_current_amd64.deb
              google-chrome --version
            displayName: 'Install Chrome'

          - script: |
              export DISPLAY=:99
              sudo Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
              sleep 3
            displayName: 'Start Xvfb'

          - task: Maven@3
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'test'
              options: '-Dtest=SeleniumEndToEndTest'
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '17'
              mavenVersionOption: 'Default'
            displayName: 'Run Selenium Tests'
            continueOnError: true

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/TEST-*.xml'
              failTaskOnFailedTests: true
              testRunTitle: 'Selenium E2E Tests'
            displayName: 'Publish Test Results'

          - task: PublishBuildArtifacts@1
            condition: always()
            inputs:
              PathtoPublish: '$(System.DefaultWorkingDirectory)/target/surefire-reports'
              ArtifactName: 'test-reports'
            displayName: 'Publish Test Reports'